In [10]:
import numpy as np
import pandas as pd
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense, Activation
from keras import layers
import os

from process_ntuples import *

In [11]:
dir_path = "/global/cfs/cdirs/atlas/gottino/Charm/Analysis/run_batch_gup/ntuples"

files = os.listdir(dir_path)
files

['CharmAnalysis.mc.ForcedDecay.Dplus.tree.root',
 'CharmAnalysis.mc.ForcedDecay.LabmdaC.tree.root']

In [12]:
TTree = process_ntuple(dir_path, files[0])
TTree.name

'CharmAnalysis'

In [38]:
DMesons_df = show(0, TTree, ["DMesons_daughterInfo__pt", "DMesons_daughterInfo__eta", "DMesons_daughterInfo__phi", "DMesons_daughterInfo__pdgId"], 1000)
DMesons_df = remove_empty(DMesons_df)
DMesons_df

,DMesons_daughterInfo__pt,DMesons_daughterInfo__eta,DMesons_daughterInfo__phi,DMesons_daughterInfo__pdgId
0,"((1118.3367, 3805.8997, 971.6052), (3805.8997,...","((1.0579262, 0.8759657, 1.0816675), (0.8759657...","((1.2175969, 1.3583351, 0.71336174), (1.358335...","((-321, 211, 211), (2212, -321, 211))"
1,"((6094.893, 1307.462, 2733.4648))","((0.15998553, 0.011107716, -0.0614343))","((2.6128821, 2.7195172, 2.9228168))","((-321, 211, 211))"
2,"((6457.058, 5970.0933, 6637.575), (6605.627, 6...","((-1.608788, -1.6307458, -1.7315177), (-1.7326...","((-0.371787, -0.5164238, -0.4971406), (-0.4966...","((-321, 211, 211), (2212, -321, 211))"
3,"((3794.4978, 3308.3105, 3065.4814), (3308.3105...","((-0.073717244, 0.22605924, -0.017923404), (0....","((0.753864, 0.6827104, 0.920779), (0.6827104, ...","((-321, 211, 211), (2212, -321, 211))"
4,"((3781.5564, 7396.4673, 1412.3259), (7396.4673...","((-0.9284433, -1.182188, -1.1012387), (-1.1821...","((0.8518817, 0.7419038, 0.77916163), (0.741903...","((-321, 211, 211), (2212, -321, 211))"
...,...,...,...,...
556,"((2248.0342, 1560.9309, 1777.5198), (1776.7628...","((-0.27776414, -0.030297821, 0.18143338), (0.1...","((2.6425247, 2.1114702, 2.3337889), (2.3332653...","((-321, 211, 211), (2212, -321, 211))"
557,"((2843.811, 12120.83, 15722.865), (12120.83, 2...","((1.6837795, 1.7058395, 1.7437785), (1.7058395...","((-0.5526616, -0.51433957, -0.4968482), (-0.51...","((-321, 211, 211), (2212, -321, 211), (2212, -..."
558,"((5232.3657, 5543.935, 850.05676), (5543.935, ...","((-0.24407308, -0.15124202, -0.6015392), (-0.1...","((0.29564288, 0.23316427, -0.011730594), (0.23...","((-321, 211, 211), (2212, -321, 211))"
559,"((5233.4795, 1644.8683, 2888.8506))","((-0.20566566, 0.1395557, -0.22413868))","((-1.8748832, -1.9805108, -1.8100455))","((2212, -321, 211))"
560,"((6198.6924, 16160.542, 985.5274), (16160.542,...","((1.0706667, 1.0903192, 1.1485869), (1.0903192...","((-2.7126276, -2.7828696, -3.0341187), (-2.782...","((-321, 211, 211), (2212, -321, 211))"

In [40]:
count = 0
for index, row in DMesons_df.iterrows():
    if count == 5:
        break
    count+=1
    if np.shape(row["DMesons_daughterInfo__pt"])[0] > 1:
        print(np.shape(row["DMesons_daughterInfo__pt"]))
    #print(np.shape(row["DMesons_daughterInfo__pt"]))

(2, 3)
(2, 3)
(2, 3)
(2, 3)

In [ ]:
model = Sequential()
model.add(tf.keras.Input(shape = (23)))
model.add(Dense(6, activation = "relu"))
model.add(Dense(1, activation = "relu"))

loss=tf.keras.losses.MeanSquaredError()
model.compile(loss= loss, optimizer= tf.keras.optimizers.Adam(learning_rate = 0.01))

model.summary()