In [1]:
from common import *
from process_ntuples import *
from process_df import *
from plotting import *
from cuts import apply_cuts, apply_pt_cut
import matplotlib.pyplot as plt
import pickle

Welcome to JupyROOT 6.28/00

In [3]:
# dir_path = "/global/cfs/cdirs/atlas/wcharm/v12.10/2018/merged"
# files = os.listdir(dir_path)

# SherpaTTree = process_ntuple(dir_path, files[4])

# branches = ["DMesons_pt", "DMesons_eta", "DMesons_phi", "DMesons_fitOutput__Lxy", "DMesons_costhetastar", "DMesons_pdgId"]
# Sherpa_df = generate_df(SherpaTTree, branches, 0)

In [28]:
#open
with open('pickled/Sherpa_df.pickle', 'rb') as f:
    Sherpa_df = pickle.load(f)

Sherpa_df

,DMesons_pt,DMesons_eta,DMesons_m,DMesons_fitOutput__Lxy,DMesons_costhetastar,DMesons_pdgId
0,"[19.12795703125, 19.58577734375, 13.9136142578...","[1.647054672241211, 1.6435248851776123, 1.6656...","[1784.0706787109375, 2405.803466796875, 2107.0...","[1.2497750520706177, 1.6334234476089478, 3.936...","[-0.7660992741584778, 0.8506016731262207, 0.65...","[-411, 4122, 4122, 4122, -4122, -4122, 4122]"
1,"[11.16509765625, 10.5241943359375, 9.593689453...","[-1.7250146865844727, -1.711297631263733, -1.7...","[2227.20556640625, 2199.820068359375, 2213.756...","[0.09700096398591995, 0.1839810311794281, 0.00...","[-0.8130446672439575, -0.7865216732025146, -0....","[4122, 4122, 4122, 4122, 4122, 4122, 4122]"
2,[14.1763544921875],[-2.4057934284210205],[2259.03271484375],[0.5230246782302856],[0.9857037663459778],[4122]
3,"[38.3087421875, 38.790703125, 18.2094453125, 6...","[-2.3254332542419434, -2.316429615020752, -2.3...","[1708.94140625, 1900.1624755859375, 1723.11010...","[0.5003445744514465, 0.6935873627662659, 0.738...","[-0.8833536505699158, -0.8327195644378662, -0....","[-411, -411, 411, 411, -411, -411, -411, 4122,..."
4,[10.61038671875],[1.3017048835754395],[2266.762451171875],[0.4508071839809418],[0.9541121125221252],[4122]
...,...,...,...,...,...,...
126158,"[9.8697587890625, 9.8697587890625]","[1.430569052696228, 1.430569052696228]","[2255.559814453125, 2335.4169921875]","[0.026711689308285713, 0.026711689308285713]","[0.1876566857099533, 0.23284253478050232]","[4122, 4122]"
126159,"[185.8403125, 42.4949453125]","[1.5651028156280518, 1.5765565633773804]","[2255.46826171875, 2149.80859375]","[0.2488638460636139, 0.03478487581014633]","[-0.8009378910064697, 0.9729851484298706]","[-4122, -4122]"
126160,"[8.893080078125, 19.432501953125, 15.837793945...","[-0.9654058218002319, -0.8400431275367737, -0....","[2489.36083984375, 2315.9775390625, 2474.23046...","[0.027805371209979057, 0.31609225273132324, 0....","[-0.9053525924682617, 0.07878544926643372, -0....","[4122, 4122, 4122, -4122, -4122, -4122, -4122,..."
126161,"[26.085296875, 21.54124609375, 16.183518554687...","[-2.1271984577178955, -2.0417397022247314, -2....","[2101.408447265625, 2158.864013671875, 2475.54...","[0.009552433155477047, 0.25102490186691284, 0....","[0.864434540271759, 0.47531265020370483, 0.742...","[4122, 4122, 4122, -4122, -4122, -4122, -4122]"
126162,[21.12296484375],[0.33882251381874084],[2443.190185546875],[3.861693859100342],[0.857417106628418],[-4122]

In [14]:
len(Sherpa_df[Sherpa_df.columns[-1]][3])

52

In [29]:
dfs = []
count = 0
for index, row in Sherpa_df.iterrows():
    
    if (count == 100000):
        break
    pts = row['DMesons_pt']
    etas = row['DMesons_eta']
    ms = row['DMesons_m']
    lxys = row['DMesons_fitOutput__Lxy']
    costhetastars = row['DMesons_costhetastar']
    pdgids = row["DMesons_pdgId"]
        
    d = {Sherpa_df.columns[0]: pts, Sherpa_df.columns[1]: etas, Sherpa_df.columns[2]: ms, Sherpa_df.columns[3]: lxys, 
         Sherpa_df.columns[4]: costhetastars, Sherpa_df.columns[-1]: pdgids}
    df = pd.DataFrame(data=d)
    
    dfs.append(df)
    count+=1

In [30]:
# df = dfs[0].append(dfs[1])

df = pd.concat(dfs)
df = df.reset_index(drop = True)
df

,DMesons_pt,DMesons_eta,DMesons_m,DMesons_fitOutput__Lxy,DMesons_costhetastar,DMesons_pdgId
0,19.127957,1.647055,1784.070679,1.249775,-0.766099,-411
1,19.585777,1.643525,2405.803467,1.633423,0.850602,4122
2,13.913614,1.665678,2107.036865,3.936040,0.654973,4122
3,18.561252,1.686877,2418.582520,0.025522,-0.020600,4122
4,19.127957,1.647055,2189.921875,1.249775,-0.651541,-4122
...,...,...,...,...,...,...
810248,22.995406,-1.935863,2012.545044,0.054068,0.308059,4122
810249,17.874104,-1.991682,2104.126465,0.303214,0.046116,4122
810250,8.737409,-2.050989,2259.390625,0.307872,0.994985,4122
810251,6.585067,-1.998832,2040.591309,0.327748,0.836442,4122
810252,10.160559,-1.953199,2002.140869,7.231640,0.530064,-4122

In [51]:
#func = lambda x: 'only_411' if x == [411] else ('only_4122' if x == [4122] else 'both')

def func(x):
    if x == 411:
        return 'only_411'
    elif x == 4122:
        return 'only_4122'
    elif x == -4122:
        return 'only_-4122'
    elif x == -411:
        return 'only_-411'
    else:
        return 'both'

df['particle_type'] = df['DMesons_pdgId'].apply(func)

# separate the rows based on the new column
only_411 = df[df['particle_type'] == 'only_411']
only_4122 = df[df['particle_type'] == 'only_4122']
only_411_negative = df[df['particle_type'] == 'only_-411']
only_4122_negative = df[df['particle_type'] == 'only_-4122']
#new_df = df[(df['particle_type'] != 'both') & (df['particle_type'] != 'only_-411')]

new_df = df[(df['particle_type'] != 'only_-411') & (df['particle_type'] != 'only_-4122')]
new_df = new_df.reset_index(drop=True)

new_df.loc[:, 'DMesons_pt'] = new_df['DMesons_pt'].apply(lambda x: float(x))
new_df.loc[:, 'DMesons_eta'] = new_df['DMesons_eta'].apply(lambda x: float(x))
new_df.loc[:, 'DMesons_m'] = new_df['DMesons_m'].apply(lambda x: float(x))
new_df.loc[:, 'DMesons_fitOutput__Lxy'] = new_df['DMesons_fitOutput__Lxy'].apply(lambda x: float(x))
new_df.loc[:, 'DMesons_costhetastar'] = new_df['DMesons_costhetastar'].apply(lambda x: float(x))
new_df.loc[:, 'DMesons_pdgId'] = new_df['DMesons_pdgId'].apply(lambda x: int(x))
new_df = new_df.drop('particle_type', axis=1)
new_df

,DMesons_pt,DMesons_eta,DMesons_m,DMesons_fitOutput__Lxy,DMesons_costhetastar,DMesons_pdgId
0,19.585777,1.643525,2405.803467,1.633423,0.850602,4122
1,13.913614,1.665678,2107.036865,3.936040,0.654973,4122
2,18.561252,1.686877,2418.582520,0.025522,-0.020600,4122
3,13.913614,1.665678,2301.469482,3.936040,0.778574,4122
4,11.165098,-1.725015,2227.205566,0.097001,-0.813045,4122
...,...,...,...,...,...,...
405749,22.716639,-1.946983,2318.537354,0.031413,0.369746,4122
405750,22.995406,-1.935863,2012.545044,0.054068,0.308059,4122
405751,17.874104,-1.991682,2104.126465,0.303214,0.046116,4122
405752,8.737409,-2.050989,2259.390625,0.307872,0.994985,4122
405753,6.585067,-1.998832,2040.591309,0.327748,0.836442,4122

In [52]:
only_411 = only_411.reset_index(drop=True)
only_411.loc[:, 'DMesons_pt'] = only_411['DMesons_pt'].apply(lambda x: float(x))
only_411.loc[:, 'DMesons_eta'] = only_411['DMesons_eta'].apply(lambda x: float(x))
only_411.loc[:, 'DMesons_m'] = only_411['DMesons_m'].apply(lambda x: float(x))
only_411.loc[:, 'DMesons_fitOutput__Lxy'] = only_411['DMesons_fitOutput__Lxy'].apply(lambda x: float(x))
only_411.loc[:, 'DMesons_costhetastar'] = only_411['DMesons_costhetastar'].apply(lambda x: float(x))
only_411.loc[:, 'DMesons_pdgId'] = only_411['DMesons_pdgId'].apply(lambda x: int(x))
only_411 = only_411.drop('particle_type', axis=1)

only_4122 = only_4122.reset_index(drop=True)
only_4122.loc[:, 'DMesons_pt'] = only_4122['DMesons_pt'].apply(lambda x: float(x))
only_4122.loc[:, 'DMesons_eta'] = only_4122['DMesons_eta'].apply(lambda x: float(x))
only_4122.loc[:, 'DMesons_m'] = only_4122['DMesons_m'].apply(lambda x: float(x))
only_4122.loc[:, 'DMesons_fitOutput__Lxy'] = only_4122['DMesons_fitOutput__Lxy'].apply(lambda x: float(x))
only_4122.loc[:, 'DMesons_costhetastar'] = only_4122['DMesons_costhetastar'].apply(lambda x: float(x))
only_4122.loc[:, 'DMesons_pdgId'] = only_4122['DMesons_pdgId'].apply(lambda x: int(x))
only_4122 = only_4122.drop('particle_type', axis=1)

new_df = new_df.drop('DMesons_m', axis=1)
only_411 = only_411.drop('DMesons_m', axis=1)
only_4122 = only_4122.drop('DMesons_m', axis=1)

new_df

,DMesons_pt,DMesons_eta,DMesons_fitOutput__Lxy,DMesons_costhetastar,DMesons_pdgId
0,19.585777,1.643525,1.633423,0.850602,4122
1,13.913614,1.665678,3.936040,0.654973,4122
2,18.561252,1.686877,0.025522,-0.020600,4122
3,13.913614,1.665678,3.936040,0.778574,4122
4,11.165098,-1.725015,0.097001,-0.813045,4122
...,...,...,...,...,...
405749,22.716639,-1.946983,0.031413,0.369746,4122
405750,22.995406,-1.935863,0.054068,0.308059,4122
405751,17.874104,-1.991682,0.303214,0.046116,4122
405752,8.737409,-2.050989,0.307872,0.994985,4122
405753,6.585067,-1.998832,0.327748,0.836442,4122

In [53]:
D = 0
Lambda = 0
for pdgId in new_df["DMesons_pdgId"]:
    if pdgId == 411:
        D+=1
    elif pdgId == 4122:
        Lambda+=1
print(D, Lambda)

44246 361508

In [56]:
# #Write to disk
# with open('Sherpa_ready.pickle', 'wb') as f:
#     pickle.dump(new_df, f)

# with open('Sherpa_only_411.pickle', 'wb') as f:
#     pickle.dump(only_411, f)
    
# with open('Sherpa_only_4122.pickle', 'wb') as f:
#     pickle.dump(only_4122, f)